<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <control>
        <nombre>base</nombre>
        <eje>Y</eje>
        <id>0</id>
        <adelante>Q</adelante>
        <atras>A</atras>
    </control>
    <control>
        <nombre>hombro</nombre>
        <eje>X</eje>
        <id>1</id>
        <adelante>W</adelante>
        <atras>S</atras>
    </control>
    <control>
        <nombre>codo</nombre>
        <eje>X</eje>
        <id>2</id>
        <adelante>E</adelante>
        <atras>D</atras>
    </control>
    <control>
        <nombre>munieca</nombre>
        <eje>X</eje>
        <id>3</id>
        <adelante>R</adelante>
        <atras>F</atras>
    </control>
    <control>
        <nombre>pinza</nombre>
        <eje>Z</eje>
        <id>4</id>
        <adelante>T</adelante>
        <atras>G</atras>
    </control>
</config>
